<%
    var cssClass = "style" + (index % 12 + 1);
%>

<article class="<%- cssClass %>">
    <span class="image">
        <img src="<%- theme.cate_cover_index || theme.default_cover_index %>" alt="" />
    </span>
    <a href="<%- config.root %><%- item.path %>">
        <h2><%- item.name %></h2>
        <div class="content">
            <p><%- item.subtitle || item.description || "" %></p>
        </div>
    </a>
</article>