<% if(page.comments && theme.comments && theme.comments.disqus_shortname){ %>
    <hr />
    <h3><%- __('comment')%>:</h3>
    <div id="disqus_thread">
        <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
<% } %>

<% if(page.comments && theme.comments && theme.comments.facebook && theme.comments.facebook.appid) { %>
    <hr />
    <h3><%- __('comment')%>:</h3>
    <div id="fb-root"></div>
    <!-- <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=<%= theme.comments.facebook.appid %>";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script> -->
    <script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/zh_CN/sdk.js#xfbml=1&version=v2.8";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>

    <div class="fb-comments" data-href="<%= url %>" data-num-posts="<%= theme.comments.facebook.comment_count %>" data-width="100%" data-colorscheme="<%= theme.comments.facebook.comment_colorscheme %>"></div>
<% } %>

<% if(page.comments && theme.comments && theme.comments.gitalk) { %>    
<hr />
<h3><%- __('comment')%>:</h3>
<div id="gitalk-container">

</div>
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<style>
.gt-container .gt-header-controls-tip,
.gt-container a,
.gt-container .gt-svg svg {
    color: #585858;
}

.gt-container .gt-btn,
.gt-container .gt-btn:hover {
    background-color: #FFF;
}
</style>
<script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
<script>
var gitalk = new Gitalk({
  clientID: '<%= theme.comments.gitalk.clientID %>',
  clientSecret: '<%= theme.comments.gitalk.clientSecret %>',
  repo: '<%= theme.comments.gitalk.repo %>',
  owner: '<%= theme.comments.gitalk.owner %>',
  admin: [
      <% theme.comments.gitalk.admin.forEach((a) => { %>
        '<%= a %>',
      <%}) %>
  ],
  // facebook-like distraction free mode
  distractionFreeMode: true
})

gitalk.render('gitalk-container')
</script>
<% } %>
